@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Source+Sans+Pro:wght@300;400;600&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  text-align: center;
  background-color: #363636;
  height: 100vh;
}
header {
  background: linear-gradient(180deg, #EEB4B4 0%, #8F6464 100%);
  text-align: center;

  padding: 23px;
}
h2 {
  font-size: 24px;
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
  color: #362525;
  font-weight: 400;
}

section figure img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

figure {
  padding: 64px;
}

figcaption {
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  line-height: 30px;
  color: #C18787;
}

ul {
  margin: 0 auto;
  width: 80%;
}
li {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0px 32px 0px 0px;
  margin-top: 16px;
  padding: 19px 0;
  max-width: 430px;
}
li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: #FAFAFA;
}
